# Managed by dotfiles/ansible/bootstrap.yml
Port {{ ssh_port }}
PermitRootLogin no
PasswordAuthentication yes
KbdInteractiveAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no
X11Forwarding no
MaxAuthTries 3
